.stock-name .ng-valid,
.stock-code .ng-pristine,
.stock-price .ng-untouched,
.stock-previousPrice .ng-untouched{
    background-color: green;
}

.stock-code .ng-invalid,
.stock-name .ng-invalid {
    background-color: red;
}

.stock-previousPrice .ng-touched,
.stock-price .ng-touched {
    background-color: pink;
}